/* stylelint-disable color-no-hex */

:root {
	--font-body: "DM Sans";
	--color-brand: #ef6c00;
	--color-brand-intent: #dc6502;
}

/** "Jungwissenschafter*innen" is too long. */
h1 {
	overflow-wrap: anywhere;
}
