---
import { gridVariants as variants } from "~/keystatic.config";

interface Props {
	variant:
		| "four-columns"
		| "one-four-columns"
		| "one-three-columns"
		| "one-two-columns"
		| "three-columns"
		| "two-columns";
}

const { variant } = Astro.props;
---

<div class:list={[variants[variant], "grid content-start gap-8"]}>
	<slot />
</div>
