---
interface Props {
	/** @default "stretch" */
	alignment?: "center" | "stretch";
}

const { alignment = "stretch" } = Astro.props;
---

<div class={alignment === "center" ? "self-center" : undefined}>
	<slot />
</div>
