---
import { Image } from "astro:assets";

import { getImageImport } from "@/lib/get-image-import";

interface Props {
	images: Array<{
		alt?: string;
		src: string;
	}>;
}

const { images } = Astro.props;
---

<div class="grid grid-cols-[repeat(auto-fill,minmax(min(16rem,100%),1fr))] gap-4 not-prose my-6">
	{
		images.map( (image) => {
			const { alt = "", src } = image;

			return (
				<Image alt={alt} class="overflow-hidden rounded-md" layout="constrained" src={getImageImport(src)} />
			);
		})
	}
</div>
