---
import Figure from "@/components/content/figure.astro";
import ContentLink from "@/components/content/link.astro";
import type { LinkSchema } from "@/lib/keystatic/get-link-props";

interface Props {
	link: LinkSchema;
	src: string;
	alt?: string;
	text: string;
}

const { alt, link, src, text } = Astro.props;
---

<ContentLink link={link}>
	<span class="sr-only">{text}</span>
	<Figure alt={alt} src={src} />
</ContentLink>
