---
import { Icon } from "astro-icon/components";

import LocaleSwitcher from "@/components/locale-switcher.astro";
import { mobileNavId } from "@/components/navigation/constants";
import NavLink from "@/components/navigation/nav-link.astro";
import Search from "@/components/search.astro";
import { defaultLocale, type Locale } from "@/config/i18n.config";
import { createClient } from "@/lib/content/create-client";
import { getLinkProps } from "@/lib/keystatic/get-link-props";

const locale = (Astro.currentLocale as Locale | undefined) ?? defaultLocale;
const client = await createClient(locale);
const navigation = await client.getNavigation();
---

<div class="px-4 pb-6 lg:hidden" data-mobile-nav hidden id={mobileNavId}>
	<ul class="grid gap-y-2 text-[#444]" role="list">
		{
			navigation.data.links.map((item) => {
				switch (item.discriminant) {
					case "link": {
						return (
							<li>
								<NavLink class="transition hover:text-[#212529]" {...getLinkProps(item.value.link)}>
									{item.value.label}
								</NavLink>
							</li>
						);
					}

					case "menu": {
						return (
							<li>
								<details class="group">
									<summary class="inline-flex cursor-pointer items-center gap-x-1.5">
										{item.value.label}
										<Icon
											aria-hidden="true"
											class="size-4 shrink-0 group-open:rotate-180"
											name="lucide:chevron-down"
										/>
									</summary>
									<ul class="ml-4 mt-2 grid gap-y-1" role="list">
										{item.value.items.map((link) => {
											switch (link.discriminant) {
												case "link": {
													return (
														<li>
															<NavLink
																class="transition hover:text-[#212529]"
																{...getLinkProps(link.value.link)}
															>
																{link.value.label}
															</NavLink>
														</li>
													);
												}

												case "separator": {
													return null;
												}

												default: {
													return null;
												}
											}
										})}
									</ul>
								</details>
							</li>
						);
					}

					case "separator": {
						return null;
					}

					default: {
						return null;
					}
				}
			})
		}
	</ul>

	<hr class="my-6" />

	<div class="flex justify-between">
		<LocaleSwitcher />
		<Search />
	</div>
</div>
