---
interface Props {
	class?: string;
	search?: "exclude";
}

const { class: className, search } = Astro.props;
---

<main
	class:list={["isolate bg-[#f1f1f1]", className]}
	data-pagefind-body={search === "exclude" ? undefined : ""}
	id="main-content"
	tabindex={-1}
>
	<slot />
</main>
