---
import { Image } from "astro:assets";

import { getImageImport } from "@/lib/get-image-import";

interface Props {
	image?: string | null;
}

const { image } = Astro.props;
---

<div class="my-2 border-t-[5px] border-brand bg-white">
	{
		image != null ? (
			<Image
				alt=""
				class="h-96 w-full object-cover"
				sizes="1088px"
				src={getImageImport(image)}
				widths={[1088]}
			/>
		) : null
	}
	<div class="grid gap-y-4 px-8 pb-12 pt-8">
		<slot />
	</div>
</div>
